$height: 60px;

.main {
    height: 100vh;
}

.sider {
    $bg-color: #2f353a;

    background-color: $bg-color;

    // :global(.ant-menu-dark) {
    //     background-color: $bg-color;

    //     :global(.ant-menu-item):hover,
    //     :global(.ant-menu-submenu-active .ant-menu-submenu-title),
    //     :global(.ant-menu-item-selected) {
    //         background-color: #20a8d8;
    //     }
    // }
}

.logo {
    height: $height;
    line-height: $height;
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.header {
    // height: $height;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.content {
    display: flex;
    flex-direction: column;
}
